<div class="wrapper">
        <div class="registration-container-left";>
        </div>

        <div class="registration-container-right";>
            <div class="registration-card">
                <h2>go ahead, finesse your friends</h2>

                <div class="registration-links">
                    <div class="row">
                        <%= link_to "sign up", new_user_registration_path, {:class => "registration"} %>
                        <%= link_to "log in", new_user_session_path, {:class => "registration"} %>
                    </div>
                </div>
            </div>  
        </div>
    </div>