/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: transparent;
 }

 h1 {
    color: #c48d3f;
    font-family: 'Abril Fatface', cursive;
    font-size: 2vmax;
    letter-spacing: 2px;
    margin-top: 3rem;
    margin-left: -1rem;
    text-shadow: -1px -1px 0 #8D5A08, 1px -1px 0 #8D5A08, -1px 1px 0 #8D5A08, 1px 1px 0 #8D5A08;   
 }

 h2 {
    color: #c48d3f;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 23vh;
}

h3 {
    color: #4D5656;
    font-family: 'Raleway', sans-serif;  
    font-size: 1.1rem;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: .9rem;
}

a {
    text-decoration: none;
}

.nav-menu {
    margin-left: 4rem;
    margin-top: 13vh;
}

.nav-links {
    border-bottom: 7px solid #fff;
    color: #FFF;
    font-family: 'Raleway', sans-serif;  
    font-size: 2rem;
    padding: 1rem;
}

input[type=text], [type=number], [type=date], [type=time] {
    border: 1px solid #B6BFC0;
    height: 1.5rem;
    resize: vertical;
    width: 9rem;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #06871F;
    border-radius: 15px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    height: 2rem;
    width: 10rem;
  }

 .row {
    display: flex; 
    flex-direction: row;
 }

 .card {
    background-color: #F8FAFA;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: auto;
    padding-bottom: 1rem;
    width: 25rem;
}

 .registration {
    background-color: #06871F;
    border: 1px solid transparent;
    border-radius: 500px;
    color: #fff;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    height: 1.5rem;
    letter-spacing: 2px;
    line-height: 1;
    margin-left: 2rem;
    margin-top: -1.5rem;
    min-width: 2rem;
    outline: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    transition-duration: .3s;
    transition-property: background-color,border-color,color,box-shadow,filter;
    white-space: normal;
 }

 .view {
    font-family: 'Raleway', sans-serif;

    background: #EDFEFF;
    border:0;
    border-radius: 40px;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    color: #000;
    display: inline-block;
    line-height: 20px;
    margin-left: 10px;
    margin-top: -.5rem;
    outline: 0;
    position: relative;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s;
    :hover{
        box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
        transform: scale(1.01);
    } 
 }

 .header {
    background-color: #fff;
    border-radius: 50px;
    display: flex; 
    flex-direction: row;
    float: top;
    height: 7rem;
    margin-top: 2rem;
    position: absolute; top: 0; left: 42%;
    width: 25vw;
 }
