.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: auto;
    width: 100%;

    left: 50%;
    margin-right: -50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
 }

.registration-container-left {
    background-color: #6EEEF5;
    background-image:linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
        linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
        linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
        linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
        linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
        linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
        linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
        linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
        linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
        linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
        linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
        linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);

    flex: 0 0 40%;
}
    
.registration-container-right {
    background-image: url("empty-campsite");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;

    border: 0;
    
    flex: 1;
}

.registration-right-content {
    height: 55rem;
    margin-top: -2rem;
    overflow: scroll;
    width: auto;
}

input[type=text], [type=number], [type=date], [type=time] {
    border: 1px solid #B6BFC0;
    font-family: 'Raleway', sans-serif; 
    height: 1.5rem;
    resize: vertical;
    width: 9rem;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #06871F;
    border-radius: 15px;
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    font-size: 1rem;
    height: 2rem;
    width: 10rem;
}